*{
    box-sizing: border-box;
    margin:0;
    padding:0;

    scroll-behavior: smooth;
}
.navbar{
    background: #000000;
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height:90px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
#navbar-logo{
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    background-image:linear-gradient(to top, #b3db6f 5%, #9be179 90%);
    background-size: 100%;
    -webkit-background-clip:text ;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.navbar-menu{
    font-family: 'Karla', sans-serif; 
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-item{
    height: 80px;
}
.navbar-links{
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height:100%;
    transition: all 0.3s ease;
}
.navbar-links:hover{
    color:#d5fe8e;
    transition: all 0.3s ease;
}
@media  screen and (max-width:1000px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar-menu{
        display: grid; 
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .navbar-menu.active{
        background: #000000;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:99;
        height: 60vh;
        font-size: 1.6rem;
    }
    #navbar-logo{
        padding-left: 25px;
    }
    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar-item{
        width: 100%;
    }
    .navbar-links{
        text-align: center;
        padding:2rem;
        width:100%;
        display:table;
    }
    #mobile-menu{
        position: absolute;
        top:20%;
        right: 5%;
        transform:translate(5%, 20%);
    }
    .navbar-toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
/*Start*/
.hero{
    background: #000000;
    background-image:url("images/juanita-swart-GFL58bHlZFU-unsplash.jpg");
    padding:200px 0;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding:30px;
}
.hero-heading{
    font-size: 100px;
    margin-bottom: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;
}
.hero-heading span{
    background: #418025;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b0e076, #4c912d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c8ff84, #78ff3a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.hero-description{
    font-size: 40px;
    color: #fff3ca;  /* fallback for old browsers */
   
    font-family: 'Karla', sans-serif; 
}
.highlight{
    border-bottom: 4px solid greenyellow;
}
@media screen and (max-width: 768px) {
    .hero-heading{
        font-size: 60px;
    }
    .hero-description{
        font-weight: 40px;
    }
}
@media (max-width:1000px){
    section{
        padding: 100px 50px
    }

}
@media (max-width:600px){
    section{
        padding: 125px 30px
    }

}
/*section p{
    max-width:800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    position: relative;
    min-height:100vh;
    color:  rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

.banner-area .banner-img{
    background-image: url(images/plant.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index:-1;
    
}

.banner-area .banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color:#000;

}

.banner-area h1{
    margin-bottom: 15px;
    font-size: 65px;
   
}

@media (max-width: 800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
}*/
/*Sponsoren*/
.sponsor{
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    padding: 10rem 0;
}
.sponsor h1{
    text-align: center;
    font-size: 2.5rem;
    background-color: #FF512F;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #F09819, #FF512F);  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
}
.sponsor-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.sponsor-card{
    margin:10px;
    height: 315px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sponsor-card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}
@media  screen and (max-width: 1300px) {
    .sponsor-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media  screen and (max-width: 640px) {
    .sponsor-wrapper{
        grid-template-columns: 1fr;
    }
}
/*Plan*/
.main h2 {
    text-align: center;
    font-size: 2.5rem;
    background-color: #FF512F;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #F09819, #FF512F);  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
}
.plan-img-card{
    margin:30px;
    height: 280px;
    width: 380px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
   
}
img{
    max-width: 100%;
    height: auto;
}
.Gallery{
    margin: 0 0.65rem;
}
.single-img{
    height: auto;
    margin: 0.5rem;
}
.single-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 640px) {
    .Gallery{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(10, 300px);
       grid-auto-flow: row dense; 
    }
    .single-img{
        margin: 0.7rem;
    }
    .single-img:first-child{
        grid-row: span 1;
    }
    .single-img:nth-child(2){
        grid-column: 2/3;
        grid-row: span 2;
    }
    .single-img:nth-child(6),
    .single-img:nth-child(8){
        grid-row: span 2;
    }
}
.vorstand .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap:1px;
}
.box {
    width: 50%; 
    margin:2rem;
    padding: 2rem; 
   border: 2px solid rgb(17, 96, 7); 
}
.vorstand .box-container .box i {
    
    color:rgb(255, 255, 255);
    height:8rem;
}
.vorstand .box-container .box h3{
    color:white;
    font-size: 1.7rem;
    padding-top: 1rem;
}
/*Über Uns*/
.main{
    background-color: #131313;
    padding:10rem 0;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main-content {
    color:white;
    width: 100%;
}
.main-content h1{
    font-size: 2.5rem;
    background-color: #FF512F;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #F09819, #FF512F);  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
}
.main-content h3{
    font-size: 1.6rem;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family: 'Karla', sans-serif; 
}
.main-content p{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color:#ffffff;
    font-family: 'Karla', sans-serif; 
}
.main-btn{
    font-size: 1.2rem;
    background-color: #FF512F;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #F09819, #FF512F);  
    padding: 15px 50px;
    border:none;
    border-radius: 4px;
    color:white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.main-btn a{
    position: relative;
    z-index: 2;
    color:white;
    text-decoration: none;
}
.main-btn::after{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height: 100%;
    background:#aaff80;
    transition: all 0.35s;
    border-radius: 4px;
}
.main-btn:hover{
    color:white;
}
.main-btn:hover:after{
    width:100%;
}
.main-img-container{
    text-align: center;
}
.main-img-card{
    margin:10px;
    height: 480px;
    width: 480px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #99f091, #7ce65f);  
}
.fa-solid, .fa-users{
    font-size:14rem;
}
/*Responsive*/
@media screen and (max-width:1100px){
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height:90%;
    }
    .main-img-container{
        display: flex;
        justify-content: center;
    }
    .main-img-card{
        height: 410px;
        width:410px;
    }
    .main-content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main-content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main-content h2{
        font-size: 2rem;
    }
    .main-content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:480px){
    .main-img-card{
        width: 250px;
        height:250px;
    }
    .fa-users, .fa-solid{
        font-size: 4rem;
    }
    .main-content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main-content h2{
        font-size: 2rem;
    }
    .main-content p{
        margin-top: 2rem;
    }
    .main-btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/*Kontakt*/
.contact-img-card{
    margin:10px;
    height: 280px;
    width: 380px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #99f091, #7ce65f);  
}
/*footer*/
.footer-container{
    background-color: #101010;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-logo{
    color:rgba(214, 212, 212, 0.847);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif; 
}
.footer-links{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}
.footer-link-wrapper{
    display: flex;
}
.footer-link-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer-link-item h2{
    font-size: 1.2rem;
    margin-bottom: 16px;
    color: rgba(214, 214, 214, 0.819);
    font-family: 'Poppins', sans-serif; 
}
.footer-link-item a{
    color: rgba(213, 211, 211, 0.917);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
    font-family: 'Karla', sans-serif; 
}
.footer-link-item a:hover{
    color: rgb(140, 139, 139);
    transition: 0.3 ease-out;
}
.social-icon-link{
    color: white;
    font-size: 24px;
}
.social-media{
    max-width: 1000px;
    width: 100%;
}
.social-media-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.website-rights{
    color:rgba(193, 193, 193, 0.826);
    font-family: 'Karla', sans-serif;
}
@media screen and (max-width:820px){
    .footer-links{
        padding-top: 2rem;
    }
    #footer-logo{
        margin-bottom: 2rem;
    }
    .website-rights{
        margin-bottom: 2rem;
    }
    .footer-link-wrapper{
        flex-direction: column;
    }
    .social-media-wrap{
        flex-direction: column;
    }
    @media screen and (max-width: 480px) {
        .footer-link-item{
            margin: 0;
            padding: 10px;
            width: 100%;
        }
    }
}
/*Sponsoren*/
.sponsoren-banner{
    position: relative;
  
    min-height:100vh;
    color:  #fff;
    
}

.sponsoren-banner .sponsoren-img{
    background-color: rgba(243, 253, 241, 0.808);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index:-1;
    opacity: 2;
}

.sponsoren-banner .sponsoren-banner:after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(100, 16, 16);
    opacity: 8;
}
.sponsoren-banner h1{
    margin-bottom: 100px;
    font-size: 60px;
    font-family: 'Hind', sans-serif;
    font-family: 'Raleway', sans-serif;
    top: 1%;
    color:#000;
    
}


@media (max-width: 800px){
    .sponsoren-banner{
        min-height: 600px;
    }
   
}
.Sponsoren{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 600px));
    column-gap: 10px;
    row-gap: 10px;

}
.Sponsoren img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;   
}
/*JAHRESPROGRAMM 2022*/
.jp-banner{
    position: relative;
    justify-content: center;
    min-height:100vh;
    color:  #fff;
   
}

.jp-banner .jp-img{
    background-image:url(images/neonbrand-LoV0EpSG2-M-unsplash.jpg) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index:-1;
    opacity: 0.6;
}

.jp-banner .jp-banner:after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(100, 16, 16);
    opacity: 8;
}
.jp-banner h1{
    margin-bottom: 70px;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    top: 2%;
    color:rgb(255, 255, 255);
    
}


@media (max-width: 800px){
    .jp-banner{
        min-height: 600px;
    }
   
}
ul.about-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex ;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
 }
 .about-content li{
     padding: 20px;
     height: 490px;
     background-clip: content-box;
     background-position: center;
     -webkit-background-size: cover;
     background-size: cover;
 }
 .about-content li h1{
     color:#fff;
     font-family: 'Hind', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
 }
 .about-content li p{
     color:#fff;
     font-family: 'Hind', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
 }
 .about-left{
     flex-basis: 40%;
     background-image: url(images/randy-fath-SQ20tWzxXO0-unsplash.jpg);
 
 }
 
 .about-right{
     flex-basis: 60%;
 }
 .about-area p{
     max-width: 800px;
     margin-bottom: 35px;
     line-height: 1.5;
     text-align: left;
     padding-left: 0;
     font-size: 25px;
 }
 
 
 .about-right h1{
     margin-bottom: 3%;
     color: #fff;
     font-family: 'Hind', sans-serif;
    font-family: 'Raleway', sans-serif;
 }
 /*Ende*/
 /*Start*/
 ul.content{
     width: 100%;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex ;
     display: -o-flex;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
  
  }
  .content li{
      padding: 20px;
      height: 490px;
      background-clip: content-box;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
  }
  .content li h2{
      color:#fff;
      font-family: 'Hind', sans-serif;
    font-family: 'Raleway', sans-serif;
  }
  .content li p{
      color:#fff;
      font-family: 'Hind', sans-serif;
    font-family: 'Raleway', sans-serif;
  }
  .text-left{
      flex-basis: 60%;
  
  }
  
  .picture-right{
      flex-basis: 40%;
      background-image: url(images/Okt2022.jpeg);
}
  .JP2022 p{
      max-width: 800px;
      margin-bottom: 35px;
      line-height: 1.5;
      text-align: left;
      padding-left: 0;
      font-size: 25px;
  
}
  
  
  .text-left h1{
      margin-bottom: 3%;
      color: #fff;
      font-family: 'Hind', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-size: 35px;
}
@media (max-width: 1000px){
    .text-left,
    .about-right{
      flex-basis: 100%;  
    }
   
}

  
 